<div ng-controller="QuestionnaireCtrl" layout="column" ng-cloak="" class="md-inline-form" ng-app="hostFormApp">

    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
        <div>
            <form name="userCriticalForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Hi! What is your name?</label>
                        <input ng-model="user.name" title="" capitalize-first>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>What is your email? Our team will get back to you within 24 hours.</label>
                        <input name="userEmail" ng-model="user.email" type="email" title="" required>

                        <div ng-messages="userCriticalForm.userEmail.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must provide an email address.</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>

    <md-content layout-padding="">
        <div>
            <form name="userForm">

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>Company (Disabled)</label>
                        <input ng-model="user.company" disabled="" title="">
                    </md-input-container>

                    <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
                    </md-datepicker>
                </div>


                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="user.address" title="">
                </md-input-container>

                <md-input-container md-no-float="" class="md-block">
                    <input ng-model="user.address2" placeholder="Address 2">
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>City</label>
                        <input ng-model="user.city" title="">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>State</label>
                        <md-select ng-model="user.state">
                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required=""
                               ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                code.
                            </div>
                            <div ng-message="md-maxlength" class="my-message">
                                Don't use the long version silly...we don't need to be that specific...
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Biography</label>
                    <textarea ng-model="user.biography" cols="1" md-maxlength="150" rows="5" title=""></textarea>
                </md-input-container>


            </form>
        </div>
    </md-content>

</div>