<div ng-controller="QuestionnaireCtrl" ng-cloak="" class="md-inline-form" ng-app="hostFormApp" layout-padding>

    <!--TODO: 1. Add submit button 2. Put forms in different files -->

    <header>
        <h1><span class="with-tekuma-pink-color">1.</span> How is your space?</h1>
    </header>

    <form name="userSpaceForm">
        <label for="userPlaceTypeSelect"> What type of space do you have? </label>
        <select id="userPlaceTypeSelect" ng-model="user.place.placeType" class="form-control">
            <option ng-repeat="placeType in placeTypes" value="{{placeType.entry}}">{{placeType.entry}}</option>
        </select>

        <div class="spaceTypeRadioButton">
            <md-input-container class="md-block" ng-show="user.place.placeType==='Residential'">
                <md-radio-group ng-model="user.place.residentialDescription" layout="row" layout-xs="column"
                                layout-align="center start">
                    <md-radio-button ng-repeat="placeResidentialOption in placeResidentialOptions"
                                     ng-value="placeResidentialOption.entry">{{placeResidentialOption.entry}}
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>
            <input type="text"
                   ng-show="user.place.placeType==='Residential' && user.place.residentialDescription==='Airbnb'"
                   class="form-control"
                   ng-module="user.place.residentialAirBnbUrl"
                   placeholder="Enter Airbnb listing URL"
                   style="margin-bottom: 2.5em">

            <md-input-container class="md-block" ng-show="user.place.placeType==='Hospitality'">
                <md-radio-group ng-model="user.place.hospitalityDescription" layout="row" layout-xs="column"
                                layout-align="center start">
                    <md-radio-button ng-repeat="placeHospitalOption in placeHospitalOptions"
                                     ng-value="placeHospitalOption.entry">{{placeHospitalOption.entry}}
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>

            <md-input-container class="md-block" ng-show="user.place.placeType==='Workspace'">
                <md-radio-group ng-model="user.place.residentialDescription" layout="row" layout-xs="column"
                                layout-align="center start">
                    <md-radio-button ng-repeat="placeWorkspaceOption in placeWorkspaceOptions"
                                     ng-value="placeWorkspaceOption.entry">{{placeWorkspaceOption.entry}}
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>

        <md-input-container class="md-block" ng-show="user.place.placeType==='Other'">
    <textarea ng-model="user.place.otherDescription" cols="1" md-maxlength="150" rows="5" title=""
              placeholder="Describes your space?"></textarea>
        </md-input-container>

        <br>

        <label for="userPlaceRoomNumberSelect">How many spaces do you want to curate?</label>
        <select id="userPlaceRoomNumberSelect"
                name="userPlaceRoomNumberSelect"
                ng-model="user.numberOfRooms"
                class="form-control"
                ng-options="roomNumberOption as roomNumberOption for roomNumberOption in roomNumberOptions"
                required>
            <option value="">Select number of rooms</option>
        </select>
    <span ng-show="userSpaceForm.userPlaceRoomNumberSelect.$touched && userSpaceForm.userPlaceRoomNumberSelect.$error.required"
          class="error-message">* Select number of rooms</span>

        <br>
        <br>

        <label for="userPlaceArtWorkNumberSelect">How many art works does each place need?</label>
        <select id="userPlaceArtWorkNumberSelect"
                name="userPlaceArtWorkNumberSelect"
                ng-model="user.numberOfArtWorks"
                class="form-control"
                ng-options="artWorkNumberOption as artWorkNumberOption for artWorkNumberOption in artWorkNumberOptions"
                required>
            <option value="">Select number of art works</option>
        </select>
    <span ng-show="userSpaceForm.userPlaceArtWorkNumberSelect.$touched && userSpaceForm.userPlaceArtWorkNumberSelect.$error.required"
          class="error-message">* Select number of art works</span>

        <br>
        <br>

        <label for="userPlacePrimaryUseSelect">Who primarily use your space?</label>
        <select id="userPlacePrimaryUseSelect"
                name="userPlacePrimaryUseSelect"
                ng-model="user.primaryUse"
                class="form-control"
                ng-options="primaryUseOption as primaryUseOption for primaryUseOption in primaryUseOptions"
                required>
            <option value="">Select primary use</option>
        </select>
    <span ng-show="userSpaceForm.userPlacePrimaryUseSelect.$touched && userSpaceForm.userPlacePrimaryUseSelect.$error.required"
          class="error-message">* Select primary use</span>

        <br>
        <br>

        <label for="userPeopleNumberSelect">How many use your place monthly?</label>
        <select id="userPeopleNumberSelect"
                name="userPeopleNumberSelect"
                ng-model="user.numberOfPeople"
                class="form-control"
                ng-options="peopleNumberOption as peopleNumberOption for peopleNumberOption in peopleNumberOptions"
                required>
            <option value="">Select number of people</option>
        </select>
    <span ng-show="userSpaceForm.userPeopleNumberSelect.$touched && userSpaceForm.userPeopleNumberSelect.$error.required"
          class="error-message">* Select number of people</span>

        <br>
        <br>
    </form>


    <form name="userPlacePictureForm"
          flow-prevent-drop
          flow-drag-enter="dropClass='drag-over'"
          flow-drag-leave="dropClass=''">
        <div flow-init
             flow-name="uploader.flow"
             flow-files-submitted="uploader.flow.upload()"
             flow-file-added="!!{png: 1, gif: 1, jpg: 1, jpeg: 1}[$file.getExtension()]">
            <div layout="column" layout-align="center center" class="drag-zone" flow-drop ng-class="dropClass">
                <p class="md-title">Upload or take pictures of your space.</p>
                <label for="file-input">
                    <!-- Hard coding, attention please! This is to overcome a bug that ng-flow button cannot be used in mobile devices -->
                    <input id="file-input" type="file" flow-btn
                           style="opacity: 0; position: absolute; left: 0; font-size: 5em; display: inline; float: left; padding-top: 0.5em; z-index: 1"/>
                    <span class="glyphicon glyphicon-cloud-upload" style="font-size: 5em;"></span>
                </label>
            </div>

            <div layout="row" layout-sm="column" layout-wrap>
                <div ng-repeat="file in uploader.flow.files" class="gallery-box" layout-wrap>
                    <span class="title">{{file.name}}</span>
                    <div class="thumbnail" ng-show="$flow.files.length">
                        <img flow-img="file" src=""/>
                    </div>
                    <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{file.progress() * 100}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{width: (file.progress() * 100) + '%'}">
                            <span class="sr-only">{{file.progress()}}% Complete</span>
                        </div>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                            Remove
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <header>
        <h1><span class="with-tekuma-pink-color">2.</span> Lastly, tell us a little about yourself.</h1>
    </header>

    <form name="userInfoForm">

        <label for="userName">Hi, my name is</label>
        <input id="userName"
               name="userName"
               class="form-control"
               ng-model="user.name"
               placeholder="Your full name"
               capitalize-first-letter=""
               required>
        <span ng-show="userInfoForm.userName.$touched && userInfoForm.userName.$error.required" class="error-message">
            * You must provide your name.
        </span>

        <br>

        <label for="userEmail">Email me at</label>
        <input id="userEmail"
               name="userEmail"
               class="form-control"
               ng-model="user.email"
               type="email"
               placeholder="name@exmaple.com"
               required
               ng-pattern="/^.+@.+\..+$/">
        <span flex ng-show="userInfoForm.userEmail.$touched && userInfoForm.userEmail.$invalid" class="error-message">
            * You must provide a valid email.
        </span>

        <br>

        <label for="userCity">My spaces is in this city</label>
        <input id="userCity"
               name="userCity"
               class="form-control"
               ng-model="user.city"
               placeholder="City"
               required>
        <span ng-show="userInfoForm.userCity.$touched && userInfoForm.userCity.$invalid" class="error-message">
            * You must provide a city name.
        </span>

        <br>

        <label for="userPhone">My phone # is</label>
        <input id="userPhone"
               name="userPhone"
               class="form-control"
               ng-model="user.phone"
               placeholder="Phone"
               required>
        <span ng-show="userInfoForm.userCity.$touched && userInfoForm.userCity.$invalid" class="error-message">
            * You must provide a city name.
        </span>

        <br>
        <br>

        <b>
        Do you also want out team to install the artworks?
        It's free if you are in Boston!
        </b>
        <md-radio-group ng-model="user.installByUs" layout="row">
            <md-radio-button flex value="Apple"> No thank you.</md-radio-button>
            <md-radio-button flex value="Banana"> Yes please!</md-radio-button>
        </md-radio-group>


        <b>I want this done</b>
        <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
    </form>


</div>