/* all Angular material icons */
.tekuma-logo {
    width: 100%;
    overflow: hidden;
    padding: 2vw 2vw 3vw 2vw;
}

.main-wrapper {
    width: 100%;
    padding: 2vw;
}

.main-wrapper .view-container {
    padding: 20px;
}