html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* to remove the empty space on the right of the page */
}

/* all Angular material icons */
.tekuma-logo {
    width: 100%;
    overflow: hidden;
    padding: 2vw 2vw 3vw 2vw;
}

.main-wrapper {
    width: 100%;
    padding: 2vw;
}

.main-wrapper .view-container {
    padding: 20px;
}