html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* to remove the empty space on the right of the page */
}

.header-section {
    background-color: darkgray;
    height: 15vw;
    padding: 0 0 0 0;
}
.header-section .tekuma-logo {
    width: auto;
    height: 10vw;
    overflow: hidden;
    padding: 5vw 1vw 1vw 1vw;
    margin-top: 1vw;
}
.header-section .glyphicon {
    font-size: 5vw;
    color: #EE0088;
    padding: 5vw 1vw 1vw 1vw;
}


.view-container {
    padding: 20px;
}